{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "ProdPad",
    "description" : "Public API for interacting with data in a ProdPad account",
    "termsOfService" : "https://www.prodpad.com/terms",
    "contact" : {
      "name" : "Support",
      "url" : "https://help.prodpad.com",
      "email" : "hello@prodpad.com"
    },
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.prodpad.com/v1"
  } ],
  "security" : [ {
    "apiKey" : [ ]
  } ],
  "tags" : [ {
    "name" : "Misc",
    "description" : "Miscellaneous endpoints."
  }, {
    "name" : "Ideas",
    "description" : "Endpoints for Ideas and associated items like user stories and comments."
  }, {
    "name" : "Feedback",
    "description" : "Endpoints for Feedback, Contacts and Companies."
  }, {
    "name" : "Products",
    "description" : "Endpoints for Products and Roadmaps."
  } ],
  "paths" : {
    "/feedbacks" : {
      "get" : {
        "tags" : [ "Feedback" ],
        "summary" : "Get list of feedbacks",
        "description" : "Returns a list of feedback which can be a straight list or grouped by contact using the group_by parameter. \nThe list can also be filtered by state query parameter for active, archived, unsorted or all. \nDefault active feedback is returned.\n",
        "externalDocs" : {
          "description" : "Learn more about this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/205295557-GET-feedbacks"
        },
        "operationId" : "GetFeedbacks",
        "parameters" : [ {
          "name" : "group_by",
          "in" : "query",
          "description" : "Setting to customer will group the feedback by customer",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "contact" ]
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Set to value of active for active, archived for archived feedback, unsorted for unsorted feedback and all for all feedback. Default is active.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "active", "unsorted", "archived", "all" ]
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Set to page through the results. Default is 1.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "For setting the number of results per page. Default is 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 500,
            "type" : "integer"
          }
        }, {
          "name" : "company",
          "in" : "query",
          "description" : "Set to filter the feedback results based on whether the feedback was entered for a contact linked to the company.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "company_country",
          "in" : "query",
          "description" : "Set to filter the feedback results based on the country set for the associated company.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "company_size",
          "in" : "query",
          "description" : "Set to filter the feedback results based on the size of the company for the associated company.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "1-10", "11-50", "50-250", "250-500", "500-1000", "1000-5000", "5000-10000", "10000+" ]
          }
        }, {
          "name" : "company_value",
          "in" : "query",
          "description" : "Set to filter the feedback results based on the value of the company for the company assocaited to the feedback.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "high", "medium", "low" ]
          }
        }, {
          "name" : "customer",
          "in" : "query",
          "description" : "Can be either numeric ID, UUID of a contac or contact email.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "product",
          "in" : "query",
          "description" : "Filter results by the product associated to feedback. Can either be the product UUID or product ID.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "persona",
          "in" : "query",
          "description" : "Filter results by the persona associated to feedback. Can either be the persona UUID or persona ID.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "job_role",
          "in" : "query",
          "description" : "Filter results by the job role of the contact associated to the feedback. Use the JobRole UUID.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tags",
          "in" : "query",
          "description" : "Filter feedback results by the tags associated to the feedback. Mulitple tags can be specified and acts as an OR. Use the tag ID or UUID.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "has_ideas",
          "in" : "query",
          "description" : "Whether the feedback is associated to one or more ideas. Default is either.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeedbackList"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "Feedback" ],
        "summary" : "Create a new feedback.",
        "description" : "Create a new feedback in the account. The feedback has to have either a name or an email and the actual feedback. The email is used to add the feedback to an existing contact.\n",
        "externalDocs" : {
          "description" : "Learn more about this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/205295747-POST-feedbacks"
        },
        "operationId" : "PostFeedbacks",
        "requestBody" : {
          "description" : "Post body for the feedback.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FeedbackPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactLinkWithFeedback"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/feedbacks/{id}" : {
      "get" : {
        "tags" : [ "Feedback" ],
        "summary" : "Get a piece of feedback.",
        "description" : "Return an individual piece of feedback.",
        "externalDocs" : {
          "description" : "Learn more about this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/205295557-GET-feedbacks"
        },
        "operationId" : "GetFeedback",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Feedback ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactLinkWithFeedback"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Feedback not found."
          }
        }
      },
      "put" : {
        "tags" : [ "Feedback" ],
        "summary" : "Edit an existing piece of feedback.",
        "description" : "Edit the details of an existing piece of feedback.",
        "externalDocs" : {
          "description" : "Read more about this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/218042527-PUT-feedbacks-id"
        },
        "operationId" : "PutFeedback",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Feedback ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "Edits of the feedback.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FeedbackPut"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success response."
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Feedback not found."
          }
        }
      }
    },
    "/feedbacks/{id}/attachments" : {
      "post" : {
        "tags" : [ "Feedback" ],
        "summary" : "Add attachments to existing feedback.",
        "description" : "Upload an attachment (movie, file, image etc.) to a piece of feedback.",
        "externalDocs" : {
          "description" : "Read more about the endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/205295747-POST-feedbacks"
        },
        "operationId" : "PostFeedbackAttachments",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Feedback ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/body"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeedbackAttachment"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Feedback not found."
          }
        },
        "deprecated" : false
      }
    },
    "/feedbacks/{id}/ideas" : {
      "get" : {
        "tags" : [ "Feedback" ],
        "summary" : "Get all ideas associated with a feedback",
        "description" : "Return all the ideas linked to this piece of feedback.",
        "operationId" : "GetFeedbackIdeas",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Feedback ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Idea"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Feedback not found."
          }
        }
      }
    },
    "/contacts" : {
      "get" : {
        "tags" : [ "Feedback" ],
        "summary" : "Get a list of contacts",
        "description" : "Get a list of all the contacts in the account. This can be used to sync contacts between ProdPad and CRMs.",
        "externalDocs" : {
          "description" : "More about this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/115010934147-GET-contacts"
        },
        "operationId" : "GetContacts",
        "parameters" : [ {
          "name" : "company",
          "in" : "query",
          "description" : "UUID of a company to filter contacts by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "persona",
          "in" : "query",
          "description" : "ID of a persona to filter contacts by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "job_role",
          "in" : "query",
          "description" : "UUID of a job role to filter contacts by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "tags",
          "in" : "query",
          "description" : "ID, UUID or name of one or more tags to filter the contacts by.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "feedbacks",
          "in" : "query",
          "description" : "Wheter to include the feedback for each contact in the results. Default is false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number of results to return.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Number of results per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 500,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContactList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Feedback" ],
        "summary" : "Create a new contact",
        "description" : "Create a new contact in the account.",
        "externalDocs" : {
          "description" : "Learn more about this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/115011093848-POST-contacts"
        },
        "operationId" : "PostContacts",
        "requestBody" : {
          "description" : "New contact details",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/contacts/{id}" : {
      "get" : {
        "tags" : [ "Feedback" ],
        "summary" : "Get a contact",
        "description" : "Returns the details of a contact.",
        "externalDocs" : {
          "description" : "More infor on the endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/360019292534-GET-contacts-id"
        },
        "operationId" : "GetContact",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Contact ID to fetch.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "feedbacks",
          "in" : "query",
          "description" : "Whether to include the feedback provided by the contact in the response or not.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Contact not found."
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Feedback" ],
        "summary" : "Edit a contact.",
        "description" : "Edit the details of the contact such as name, company, about etc.",
        "externalDocs" : {
          "description" : "More on this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/115010948567-PUT-contacts-id"
        },
        "operationId" : "PutContact",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Contact ID to edit.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "description" : "Edits to the contact.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContactPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Contact"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Contact not found"
          }
        }
      }
    },
    "/companies" : {
      "get" : {
        "tags" : [ "Feedback" ],
        "summary" : "Get a list of companies.",
        "description" : "Return a list of companies. Using parameters allows you to also select whether to return feedback associated to the company via the contacts connected to the company. This is only available to accounts with an Advanced+ subscription.",
        "externalDocs" : {
          "description" : "More on this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/115010933987-GET-companies"
        },
        "operationId" : "GetCompanies",
        "parameters" : [ {
          "name" : "country",
          "in" : "query",
          "description" : "Set to filter the companies based on the country. Use ISO Alpha-2 country codes. Only one country can be filtered at a time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "Set to filter the companies based on their size.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "1-10", "11-50", "50-250", "250-500", "500-1000", "1000-5000", "5000-10000", "10000+" ]
          }
        }, {
          "name" : "value",
          "in" : "query",
          "description" : "Set to filter the companies based on their value.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "high", "medium", "low" ]
          }
        }, {
          "name" : "city",
          "in" : "query",
          "description" : "Set to filter the companies based on city.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tags",
          "in" : "query",
          "description" : "Filter feedback results by the tags associated to the feedback. Mulitple tags can be specified and acts as an OR. Use the tag ID or UUID.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "contacts",
          "in" : "query",
          "description" : "Whether to include contacts associated with each company in the results. Default is true.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "feedbacks",
          "in" : "query",
          "description" : "Whether to include the feedback for each contact associated to a company in the results. Default is true. Note if this is set to true then contacts will be returned whether or not contacts is set to true or false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page of results to return (size is always 100).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompanyList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Feedback" ],
        "summary" : "Create a new company",
        "description" : "Create a new company in the account. This is only available to accounts with an Advanced+ subscription.",
        "externalDocs" : {
          "description" : "More on this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/115010934267-POST-companies"
        },
        "operationId" : "PostCompanies",
        "requestBody" : {
          "description" : "Post body request with the company details used to create a new company.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompanyPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}" : {
      "get" : {
        "tags" : [ "Feedback" ],
        "summary" : "Get a company",
        "description" : "Fetch a company and details. This is only available to accounts with an Advanced+ subscription.",
        "operationId" : "GetCompany",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID of the company to fetch.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Feedback" ],
        "summary" : "Edit a company.",
        "description" : "Update the details of a company. This is only available to Advanced and higher subscriptions.",
        "externalDocs" : {
          "description" : "More on this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/115011096888-PUT-companies-id"
        },
        "operationId" : "PutCompany",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID of the company to edit.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "description" : "Changes to be made to a company.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Company"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Company"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Company not found."
          }
        }
      }
    },
    "/jobroles" : {
      "get" : {
        "tags" : [ "Feedback" ],
        "summary" : "Get the job roles for the account.",
        "description" : "Get the job roles that can be assigned to contacts.",
        "externalDocs" : {
          "description" : "More on this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/115011092868-GET-jobroles"
        },
        "operationId" : "GetJobRoles",
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobRoleList"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      }
    },
    "/ideas" : {
      "get" : {
        "tags" : [ "Ideas" ],
        "summary" : "Get a list of ideas.",
        "description" : "Return a list of ideas that match any supplied filter criteria.",
        "externalDocs" : {
          "description" : "More on this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/204633998-GET-ideas"
        },
        "operationId" : "GetIdeas",
        "parameters" : [ {
          "name" : "tags",
          "in" : "query",
          "description" : "One or more tag names to filter the ideas by. These act as an OR not AND.",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "product",
          "in" : "query",
          "description" : "Name of a product to filter the ideas by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "persona",
          "in" : "query",
          "description" : "Name of a persona to filter the ideas by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Name of a workflow status to filter the ideas by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Filters the returned ideas based on their state. Active Public is same as portal in the UI. If not included then the endpoint returns all active and active_public the same as the UI.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "active", "active_public", "archived" ]
          }
        }, {
          "name" : "external_id",
          "in" : "query",
          "description" : "Return ideas or idea with a specific external_id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page of results to return",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 1,
            "type" : "integer",
            "default" : 1
          }
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "The number of results per page",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 500,
            "type" : "integer",
            "default" : 20
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IdeaList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ideas" ],
        "summary" : "Create a new idea.",
        "description" : "Add an idea to the account.",
        "externalDocs" : {
          "description" : "More on this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/204634748-POST-ideas"
        },
        "operationId" : "PostIdeas",
        "requestBody" : {
          "description" : "Idea to add to the account",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IdeaPost"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Idea"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/ideas/{id}" : {
      "get" : {
        "tags" : [ "Ideas" ],
        "summary" : "Get an idea.",
        "description" : "Use the numeric ID to return an Idea object.",
        "externalDocs" : {
          "description" : "More on this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/204633998-GET-ideas"
        },
        "operationId" : "GetIdeaByID",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the idea unless using the by_project_id then it is the numeric project ID (the Idea number seen in the UI).",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "expanded",
          "in" : "query",
          "description" : "Whether to return the expanded version of the idea ojbect. This adds in business case, user stories, comments, etc.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "by_project_id",
          "in" : "query",
          "description" : "Whether the ID represents the project_id instead of the numeric ID.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Idea with the id not found."
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Ideas" ],
        "summary" : "Edit an existing idea.",
        "description" : "Update the fields of an existing idea.",
        "externalDocs" : {
          "description" : "More on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/217574458-PUT-ideas-id"
        },
        "operationId" : "PutIdea",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the idea (not the project id).",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "Edits to an idea",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IdeaPut"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success response."
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Idea not found."
          }
        }
      }
    },
    "/ideas/{id}/votes" : {
      "get" : {
        "tags" : [ "Ideas" ],
        "summary" : "Get thoughts on an idea",
        "description" : "Return the number of thoughts (yay, nay, maybe) and who made them on the idea.",
        "operationId" : "GetIdeaVotes",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the idea.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IdeaThoughts"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Idea not found."
          }
        }
      },
      "post" : {
        "tags" : [ "Ideas" ],
        "summary" : "Add a new thought to ideas. This is an alias for POST /votes.",
        "description" : "Add a new thought to an idea. A thought is either a yay, nay or maybe and who provided it.",
        "operationId" : "PostIdeaVotes",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the idea.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "New vote to be added.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ThoughtPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ThoughtPostResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Idea not found."
          }
        }
      }
    },
    "/ideas/{id}/statuses" : {
      "post" : {
        "tags" : [ "Ideas" ],
        "summary" : "Update workflow status of idea.",
        "description" : "Update the workflow status or stage of an idea. This allows you to move the idea through the workflow based on the flow of the related data in other applications.",
        "operationId" : "PostIdeaStatus",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the idea.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "New workflow status of the idea.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IdeaStatusChangePost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/IdeaStatusChangeResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Idea is not found."
          }
        }
      }
    },
    "/ideas/{id}/userstories" : {
      "get" : {
        "tags" : [ "Ideas" ],
        "summary" : "Get a list of user stories associated to the idea.",
        "description" : "Returns a list of all the user stories associated to an idea. This can be useful for importing into other applications for development.",
        "operationId" : "GetIdeaUserstories",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the idea.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserStories"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Idea not found."
          }
        }
      }
    },
    "/ideas/{id}/comments" : {
      "get" : {
        "tags" : [ "Ideas" ],
        "summary" : "Get comments for an idea.",
        "description" : "Return all the discussion that an idea has had. This can be useful for showing in other applications.",
        "operationId" : "GetIdeaComments",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the idea.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Idea not found."
          }
        }
      }
    },
    "/ideas/{id}/comments/{commentId}" : {
      "get" : {
        "tags" : [ "Ideas" ],
        "summary" : "Get a specific comment on an idea.",
        "description" : "Returns a specific comment on the idea along with the replies.",
        "operationId" : "PutIdeaComment",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the idea.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "commentId",
          "in" : "path",
          "description" : "Numeric ID of the comment.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Idea or comment not found"
          }
        }
      }
    },
    "/ideas/{id}/feedback" : {
      "get" : {
        "tags" : [ "Ideas" ],
        "summary" : "Get feedback associated to an idea.",
        "description" : "Return all the feedback associated to an idea.",
        "operationId" : "GetIdeaFeedback",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the idea.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FeedbackList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Idea not found."
          }
        }
      }
    },
    "/ideas/{id}/ideas" : {
      "get" : {
        "tags" : [ "Ideas" ],
        "summary" : "Get ideas linked to an idea.",
        "description" : "Get all the ideas marked as related or duplicate of the primary idea.",
        "operationId" : "GetIdeaRelatedIdeas",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the idea.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RelatedIdeas"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Idea not found."
          }
        }
      }
    },
    "/userstories" : {
      "get" : {
        "tags" : [ "Ideas" ],
        "summary" : "Get the user stories in an account.",
        "description" : "Returns a list of all the user stories and the idea they are associated to.",
        "externalDocs" : {
          "description" : "More about this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/204634298-GET-userstories"
        },
        "operationId" : "GetUserStories",
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserStoryList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      }
    },
    "/votes" : {
      "get" : {
        "tags" : [ "Ideas" ],
        "summary" : "Get the thoughts.",
        "description" : "Returns all the thoughts in the account along with the idea they are associated to.",
        "externalDocs" : {
          "description" : "More about this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/205295717-GET-votes"
        },
        "operationId" : "GetThoughts",
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ThoughtList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Ideas" ],
        "summary" : "Create a new thought on an idea.",
        "description" : "Create a yay, nay or maybe thought on an idea in ProdPad.",
        "externalDocs" : {
          "description" : "More about this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/205295757-POST-votes"
        },
        "operationId" : "PostThoughts",
        "requestBody" : {
          "description" : "New thought to be added",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ThoughtPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ThoughtPostResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      }
    },
    "/personas" : {
      "get" : {
        "tags" : [ "Personas" ],
        "summary" : "Get a list of Personas",
        "description" : "Returns a list of personas in the account. This only includes basic details. For full details of the persona use GET /persona/{id}",
        "externalDocs" : {
          "description" : "More about this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/205295627-GET-personas"
        },
        "operationId" : "GetPersonas",
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PersonaList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      }
    },
    "/personas/{id}" : {
      "get" : {
        "tags" : [ "Personas" ],
        "summary" : "Get a persona.",
        "description" : "Returns the details on the persona. This inculdes the behavior, goals, constraints and description of the persona.",
        "externalDocs" : {
          "description" : "More about this endpoint",
          "url" : "https://help.prodpad.com/hc/en-us/articles/205295627-GET-personas"
        },
        "operationId" : "GetPersona",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the persona.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Persona"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Persona not found."
          }
        }
      }
    },
    "/products" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "List products.",
        "description" : "List of products that match the query filters",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/204634518-GET-products"
        },
        "operationId" : "GetProducts",
        "parameters" : [ {
          "name" : "group",
          "in" : "query",
          "description" : "Whether the returned list is grouped by product lines or not.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_3"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/products/{id}" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get a product.",
        "description" : "Returns an individual product. Note this doesn't return the current updated canvas style.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/204634518-GET-products"
        },
        "operationId" : "GetProduct",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the product.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Product not found."
          }
        }
      }
    },
    "/products/{id}/roadmap" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get a product roadmap",
        "description" : "Returns the roadmap of the specified product.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/204634518-GET-products"
        },
        "operationId" : "GetProductRoadmap",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the product.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Roadmap"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Product not found."
          }
        }
      }
    },
    "/roadmaps" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get a list of the roadmaps.",
        "description" : "Retuns a list of roadmaps in the account.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/220950327-GET-roadmaps"
        },
        "operationId" : "GetRoadmaps",
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoadmapList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      }
    },
    "/roadmaps/{id}" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get an individual roadmap.",
        "description" : "Returns an individual roadmap along with all the cards associated to the roadmap.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/220950327-GET-roadmaps"
        },
        "operationId" : "GetRoadmap",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the roadmap.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Roadmap"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Roadmap not found."
          }
        },
        "deprecated" : false
      }
    },
    "/roadmaps/{id}/cards" : {
      "post" : {
        "tags" : [ "Products" ],
        "summary" : "Create roadmap card.",
        "description" : "Creates a new roadmap card on the specified roadmap.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/220950727-POST-roadmaps-id-cards"
        },
        "operationId" : "PostRoadmapCard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the roadmap.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "Details of roadmap card.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RoadmapCardPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoadmapCardPostResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Roadmap not found."
          }
        },
        "deprecated" : false
      }
    },
    "/roadmaps/{id}/cards/{cardid}" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get a roadmap card.",
        "description" : "Returns a specific roadmap card with details.",
        "operationId" : "GetRoadmapCard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the roadmap.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "cardid",
          "in" : "path",
          "description" : "Numeric ID of the card.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoadmapCardColumn"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Products" ],
        "summary" : "Edit a roadmap card.",
        "description" : "Edit the details of the roadmap card.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/360019566674-PUT-roadmaps-id-cards-id"
        },
        "operationId" : "PutRoadmapCard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the roadmap.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "cardid",
          "in" : "path",
          "description" : "Numeric ID of the roadmap card.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "The card details to change.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RoadmapCardPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RoadmapCardColumn"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/objectives" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get list of objectives.",
        "description" : "Get a list of objectives in the account. The list indicates whether they are associated to a product or not.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/360019689213-GET-objectives"
        },
        "operationId" : "GetObjectives",
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObjectiveList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Products" ],
        "summary" : "Create a new objective.",
        "description" : "Create a new objective in the account. This can be linked to a specific product.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/360019693953-POST-objectives"
        },
        "operationId" : "PostObjectives",
        "requestBody" : {
          "description" : "Objective details.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ObjectivePost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Objective"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        }
      }
    },
    "/objectives/{id}" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get an objective.",
        "description" : "Returns the details of an objective.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/360019689213-GET-objectives"
        },
        "operationId" : "GetObjective",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID of the objective.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Objective"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Objective not found."
          }
        }
      },
      "put" : {
        "tags" : [ "Products" ],
        "summary" : "Edit an objective.",
        "description" : "Edit the details of the objective.",
        "operationId" : "PutObjective",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "UUID of the objective.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "description" : "Details of objective to be changed.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ObjectivePost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Objective"
                }
              }
            }
          },
          "400" : {
            "description" : "The API call was not correct.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "404" : {
            "description" : "Objective not found."
          }
        }
      }
    },
    "/tags" : {
      "get" : {
        "tags" : [ "Misc" ],
        "summary" : "Get a list of tags.",
        "description" : "Get a list of tags used in the account.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/204634648-GET-tags"
        },
        "operationId" : "GetTags",
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TagList"
                }
              }
            }
          },
          "401" : {
            "description" : "The call was not authenticated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          },
          "403" : {
            "description" : "The API or account doesn't have permissions for that operation.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/4XX_error"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/tags/{id}" : {
      "get" : {
        "tags" : [ "Misc" ],
        "summary" : "Get a tag.",
        "description" : "Get the details of an individual tag.",
        "externalDocs" : {
          "description" : "More information on this endpoint.",
          "url" : "https://help.prodpad.com/hc/en-us/articles/204634648-GET-tags"
        },
        "operationId" : "GetTag",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Numeric ID of the tag.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success response.",
            "content" : {
              "application/json" : {
                "schema" : {
[...]
